@media screen and (max-width:1200px) and (min-width:1025px) {
    .component-3{
        width:100%;
        height:752px;
        background-color: $simple-white;
        @include flex-center;
    }
    .content-3{
        width: 1164px;
        height:569px;
        @include flex-between;
        position: relative;
    }
    .box-image{
        width: 400px;
        height: 350px;
        position: absolute;
        top: 19%;
        left: 5%;
    }
    .some {
        position: absolute;
        @include font(31px,$family-1,600);
        color: $black;

        

        top: 32%;
        left: 51%;
        word-spacing: -4px;
    }
    .dumb-text {
        position: absolute;
        top: 42.5%;
        left:51%;
        color:$grey;
        width: 490px;
        line-height:27px;
        @include font(14px,$sans,lighter);
    }
    .feat {
        @include feature;
        display: inline-block;
        margin-right: 7%;
        margin-bottom: 1%;
    }
    .feat-house {
        position: absolute;
        width: 500px;
        top: 60%;
        left: 50.8%;

    }

    .who {
        @include us;
    }

    span {
        color:$cyan;
    }

    .saerto  {
        @include to;
    }
    .tv {
        background-color:gray;
        position: absolute;
        z-index: 2;
        width: 372px;
        height: 230px;
        left: 8%;
        top: 34%;
        background-image: url("https://media.npr.org/assets/img/2015/05/27/istock_000021797874small-ae052da70450a047e74266649594a03895311250-s800-c85.jpg");
      
        background-size: cover;
    }

    .new {
        display: none;
    }
    .bttn{
        display: none;
    }
    .contenta {
        display: none;
    }


    .bttna {
        display: none;

    }
    .mom {
        display: none;
    }

    .contenta-1 {
        display: none;
    }
}