$size-1:12px;
$weight-1:bold;
$size-2:62px;
$weight-2:lighter;
$family-1:'Raleway', sans-serif;



@media screen and (min-width:1601px) {
    .component-2{
        width:100%;
        height:752px;
        background-color: $black;
        position: relative;
        background-image: url("https://eskipaper.com/images/outer-space-wallpaper-30.jpg");
      
        background-size: cover;
        @include flex-center;
    }
    .button {
        @include burger;
        width:144px;
        height:44px;
        position: absolute;
        top: 73%;
        left: 43%;
    }
    .text {
        width:744px;
        height:334px;
        @include flex-center;
        flex-direction:column;
        width: 800px;
        position: relative;
        
    }
    .button > div {
        width: 137px;
        height: 38px;
        @include flex-center;
        @include font($size-1,$family,$weight-1);
    }
    .walk {
        @include font($size-2,$family-1,$weight-2);
        color:$simple-white;
        font-size: 62px;

        position: absolute;
        top: 7%;
        left: 23%;
    }

    .you {
        @include font($size-2,$family,$weight-1);
        color:$simple-white;
        font-size: 71px;

        position: absolute;
        top: 28.8%;
        left: 15.4%;
    }
    .long-text {
        @include font(20px,$family,lighter);
        color:$simple-white;
        text-align:center;
        font-size: 18.5px;
        text-align: center;
        position: absolute;
        top: 55%;
        left: 5.2%;
    }

    .less{
        color:$simple-white;
        font-size: 50px;
        position: absolute;
        top: 38%;
        left: 1%;
    }
    .great {
        color:$simple-white;
     
        font-size: 50px;
        top: 38%;
        position: absolute;
        left: 96%;
    }
}