@media screen and(max-width:767px) and (min-width:320px) {
    .component-2{
        width:100%;
        height:210px;

        background-color: $black;
        @include flex-center;
        background-image: url("https://eskipaper.com/images/outer-space-wallpaper-30.jpg");
      
        background-size: cover;
    }
    .button {
        @include burger;
        width:64px;
        left: 40%;
        height: 19px;
        position: absolute;
        top: 70%;
    }
    .text {
        height:150px;
        @include flex-center;
        flex-direction:column;

        width: 320px;
        position: relative;
        
    }
    .button > div {
        width: 60px;
        height: 14px;
        @include flex-center;
        @include font(7px,$family,$weight-1);
        
    }
    .walk {
        @include font($size-2,$family-1,$weight-2);
        color:$simple-white;
        font-size: 25px;
        position: absolute;
        top: 9%;
        left: 22%;
        word-spacing: -5px;
    }

    .you {
        @include font($size-2,$family,$weight-1);
        color:$simple-white;
        font-size:30px;

        position: absolute;
        top: 28%;
        left: 14%;
        word-spacing: -5px;
    }
    .long-text {
        @include font(20px,$family,lighter);
        color:$simple-white;
        text-align:center;
        font-size: 9px;
        text-align: center;
        position: absolute;
        top: 53%;
        left: 5.2%;
        width: 290px;
        letter-spacing: -0.6px;


    }
}