

@media screen and (max-width:1024px) and (min-width:768px)  {
    .component-2{
        width:100%;
        height: 590px;

        background-color: $black;
        @include flex-center;
        background-image: url("https://eskipaper.com/images/outer-space-wallpaper-30.jpg");
      
        background-size: cover;
    }
    .button {
        @include burger;
        width:144px;
        height:44px;
        position: absolute;
        top: 71%;
        left: 40%;
    }
    .text {
        width:744px;
        height:334px;
        @include flex-center;
        flex-direction:column;
        width: 800px;
        position: relative;
        
    }
    .button > div {
        width: 137px;
        height: 38px;
        @include flex-center;
        @include font($size-1,$family,$weight-1);
    }
    .walk {
        @include font($size-2,$family-1,$weight-2);
        color:$simple-white;
        font-size: 59px;
        position: absolute;
        top: 9%;
        left: 22%;
        word-spacing: -10px;
    }

    .you {
        @include font($size-2,$family,$weight-1);
        color:$simple-white;
        font-size: 72px;

        position: absolute;
        top: 28%;
        left: 14%;
        word-spacing: -10px;
    }
    .long-text {
        @include font(20px,$family,lighter);
        color:$simple-white;
        text-align:center;
        font-size: 19px;
        text-align: center;
        position: absolute;
        top: 55%;
        left: 5.2%;
        width: 700px;
        letter-spacing: -1px;
    }
    
    .less{
        display: none;
    }
    .great {
        display: none;

    }
 }
