@media screen and(max-width:767px) and (min-width:320px) {
    .component-4 {
        width:100%;
        height:1108px;
        @include flex-center;
        background-color: $black;
        position: relative;

    }
    .saerto-22  {
        @include to;
        top: 7%;
        left: 34%;
    }

    .who-22 {
        @include us;
        left: 30%;
        top: 3.5%;
        font-size: 27px;

        
        
    }
    .who-22 p {
        color:$simple-white;
    }

    .saerto-22 i {
        color:$simple-white;
    }
    
    
    

    .hexagons {
        width:320px;
        height:920px;
        @include flex-between;
        position: absolute;
        top:14%;
        flex-direction: column;
    }

    .hex {
        width: 293px;
        height: 282px;
        position: relative;
        display: inline-block;

    }

    .black-hex {
        position: absolute;
        left: 28%;
        width: 119px;
        height: 130px;
    }
    .blue-hex {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 119px;
        height: 130px;
    }
    .black-hex:hover .blue-hex {
        display: inline;
    }
   

    .satauri {
        color:$cyan;
        @include font(19px,$family-1,bold);
        position: absolute;
        top: 61%;
        right: 10%;

    }

    .teqsti {
        color:$simple-white;
        @include font(13px,$sans,400);

        position: absolute;
        text-align: center;
        top: 74%;
        line-height: 20px;
    }
 
    .hex i {
        position: absolute;
        top: 20%;
        z-index: 100;
        left: 43%;
        font-size: 30px;
        color: white;
    }

}