$size:14px;
$family:'Montserrat', sans-serif;
$weight:400;


@media screen and(min-width:1601px) {
    .component-1{
        color:$simple-white;
        background-color: $black;
        width:100%;
        @include flex-center;
        height:106px;
    }
    .navbar {
        @include flex-between;
        @include font($size,$family,$weight);
        color:$simple-white;
        width: 740px;
        margin-bottom: 0.2%;
        margin-right: 7%;
        
    }
    
    .nav-bar{
        color:$simple-white;
    }
    
    
    .logo {
        width: 117px;
        margin-left: 7%;

    }
    
    .content {
        @include flex-between;
        width:70%;
    }
    
    .burger-nav {
        display:none;
    }

}

