$size:14px;
$family:'Montserrat', sans-serif;
$weight:400;


 @media screen and (max-width:1024px) and (min-width:768px)  {

    .component-1{
        color:$simple-white;
        background-color: $black;
        width:100%;
        @include flex-center;
        height:106px;
        position: relative;
    }
    .navbar {
        @include flex-between;
        @include font($size,$family,$weight);
        color:$simple-white;
        width: 740px;
        margin-bottom: 0.2%;
        display:none;
        
    }
    
    .nav-bar{
        color:$simple-white;
    }
    
    
    .logo {
        width: 117px;

    }
    
    .content {
        @include flex-between;
        width:90%;

        margin-right: 4%;
    }
    
    .burger-nav {
        display:block;
        @include burger;
        position: absolute;
        top: 30%;
        left: 90%;
        width: 57px;
        height: 39px;
    }
    .burger-nav > div {
        width: 50px;
        height: 33px;
        @include flex-center;
    }

    .burger-nav > div > i {
        color:$simple-white;
        font-size: 20px;
    }
 }


