$simple-white:#fff;
$black:#000000;
$cyan:#3AB6B2;
$grey:#6A6A6A;
$feature-color:#3B3B3B;
$header-color:#323232;
$wvrili-xazi:#D3D3D3;
$ragacnairi-nacrisferi:#525252;
$line-color:#E6E6E6;
$dark:#111111;
$foot-text:#FEFEFE;
$boxa:#252525;